<div class="index_page">
	<%= content_tag :h1, "Ecohydrology People", :class => 'ui-widget-header ui-corner-all'%>
	
  <div  id="actions" class="clearfix">

  	<%= render :partial => "shared/action", :locals => 
  		{ :action => "new", 
  			:label => 'New', 
  			:title => 'Create New Person',
  			:fmt => 'js'}
		 %>

  </div>

	<table id="people" class="data_table">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Delete</th>
				<% Person::INDEX_FIELDS.each do |i| %>
					<%= content_tag :th, i %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%= render @people%>
		</tbody>
	</table>
</div>
