<%= content_tag :div, 
  :class => "nav-toolbar ui-widget-header ui-corner-all ui-helper-clearfix",
  :id => position  do %>
  <%= content_tag :div, :class => "nav-buttonset ui-helper-clearfix" do %>

<!-- Home button is always there. Other buttons are added dynamically -->
    <a href="/" class="nav-button ui-state-default ui-priority-secondary ui-corner-left">Home</a>
  <% end %>

<% end %>
