<div class="index_page">
	<%= content_tag :h1, "Ecohydrology Projects", :class => 'ui-widget-header ui-corner-all'%>
  <div  id="actions" class="clearfix">
  	<%= render :partial => "shared/action", :locals => 
  		{ :action => 'new', 
  			:label => 'New', 
  			:title => 'Create New Project',
  			:fmt => 'js'}
		 %>

  </div>

	<table id="projects" class="data_table">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Delete</th>
				<% Project::INDEX_FIELDS.each do |i| %>
					<%= content_tag :th, i %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => "project", :collection => @projects%>
		</tbody>
	</table>
</div>
