
<div class="index_page">
	<%= content_tag :h1, "Ecohydrology News Links", :class => 'ui-widget-header ui-corner-all'%>
  <div  id="actions" class="clearfix">
  	<%= render :partial => "shared/action", :locals => 
  		{ :action => 'new', 
  			:label => 'New', 
  			:title => 'Create News Link',
  			:fmt => 'js'}
		 %>
  </div>

	<table id="news_links" class="data_table">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Delete</th>
				<% NewsLink::INDEX_FIELDS.each do |i| %>
					<%= content_tag :th, i %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => "news_link", :collection => @news_links%>
		</tbody>
	</table>
</div>