$pink:#ff0084;
$blue:#0073ea;
$Book:#eed7dc;
$Journal:#dfe2ee;
$Keynote:#f2f5d4;
$Conference:#f2f4d4;
$Report:#c8e3ff;
$Technical:#d9ecff;
$whitish:#000000;
$disabledColour: #AAA;

$textFont: baskerville, palatino, 'palatino linotype', georgia,serif;
$headerFont:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

.clearfix {@include clearfix;}
